@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


@using EntityLayer.Concrete
@model List<CheckOut>



    <!-- //banner -->
    <!-- top Products -->
    <section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">

            <div class="shop_inner_inf">
            @foreach (var item in Model)
            {

                        <div class="privacy about">

                                                <div class="checkout-right">
                                                    <h4>Sepetinizdeki Ürünler: <span>3 Ürün</span></h4>
                                                    <table class="timetable_sub">
                                                        <thead>
                                                            <tr>
                                                                <th>Ürün Id</th>
                                                                <th>Ürün Resmi</th>
                                                                <th>Quality</th>
                                                                <th>Ürün Adı</th>
                                                                <th>Fiyatı</th>
                                                                <th>Sil</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="rem1">
                                                                <td class="invert">1</td>
                                                                <td class="invert-image"><a href="CheckOut/Index"><img src="images/f1.jpg" alt=" " class="img-responsive"></a></td>
                                                                <td class="invert">
                                                                    <div class="quantity">
                                                                        <div class="quantity-select">
                                                                            <div class="entry value-minus">&nbsp;</div>
                                                                            <div class="entry value"><span>1</span></div>
                                                                            <div class="entry value-plus active">&nbsp;</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="invert">Bella Toes</td>
                                                                <td class="invert">$675.00</td>
                                                                <td class="invert">
                                                                    <div class="rem">
                                                                        <div class="close1"> </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="checkout-left">
                                                    <div class="col-md-4 checkout-left-basket">
                                                        <h4>Sepete Eklemeye Devam Et</h4>
                                                        <ul>
                                                            <li>Product1 <i>-</i> <span>$675.00 </span></li>
                                                            <li>Product2 <i>-</i> <span>$325.00 </span></li>
                                                            <li>Product3 <i>-</i> <span>$405.00 </span></li>
                                                            <li>Total Service Charges <i>-</i> <span>$55.00</span></li>
                                                            <li>Total <i>-</i> <span></span>Toplam Tutar</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-8 address_form">
                                                        <h4>Add a new Details</h4>
                                                        <form action="#" method="post" class="creditly-card-form agileinfo_form">
                                                            <section class="creditly-wrapper wrapper">
                                                                <div class="information-wrapper">
                                                                    <div class="first-row form-group">
                                                                        <div class="controls">
                                                                            <label class="control-label">Ad Soyad: </label>
                                                                            <input class="billing-address-name form-control" type="text" name="name" placeholder="Ad Soyad">
                                                                        </div>
                                                                        <div class="card_number_grids">
                                                                            <div class="card_number_grid_left">
                                                                                <div class="controls">
                                                                                    <label class="control-label">Telefon Numarası:</label>
                                                                                    <input class="form-control" type="text" placeholder="Telefon Numarası">
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="card_number_grid_right">
                                                                            <div class="controls">
                                                                                <label class="control-label">Ülke: </label>
                                                                                <input class="form-control" type="text" placeholder="Ülke">
                                                                            </div>
                                                                            <div class="controls">
                                                                                <label class="control-label">Şehir: </label>
                                                                                <input class="form-control" type="text" placeholder="Şehir">
                                                                            </div>

                                                                            <div class="controls">
                                                                                <label class="control-label">Adres: </label>
                                                                                <input class="form-control" type="text" placeholder="Adres">
                                                                            </div>
                                                                        </div>
                                                                        <div class="clear"> </div>
                                                                    </div>

                                                                </div> </section>
                                                        </form>
                                                        <button class="submit check_out" onclick="delivery()">Bu Adrese Yolla</button>



                                                                                </div>


                                                                            </div>


                                                    <div class="checkout-right-basket">
                                                        <a href="/CheckOut/Index">Ödeme Yap </a>
                                                    </div>

                                                    <div class="clearfix"> </div>
                                                    <div class="clearfix"></div>


                                 </div>

            }   
            </div>
    <!-- //top products -->
    </div>


     <script type="text/javascript">

                                   function delivery(){
                                       alert("Siparişiniz alınmıştır");
                                   }

                                </script>
    </section>

