@model IEnumerable<EntityLayer.Concrete.Information>


@foreach (var item in Model){

    <div class="tab3">
        <div class="single_page">
            <h6>@item.InformationTitle</h6>
            <p>
               @item.InformationComment
            </p>
        </div>
    </div>
    }