@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Home>


<div class="slider text-center">
    <div class="callbacks_container">
        @foreach (var item in Model)
        {


            <ul class="rslides" id="slider4">
                <li>
                    <div class="slider-img one-img">
                        @item.SliderImage
                        <div class="container">
                            <div class="slider-info ">
                                <h5>@item.SliderTitle</h5>
                                <div class="bottom-info">
                                    <p>
                                        @item.SliderComment
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
</div>

@*Kampanya*@
@await Component.InvokeAsync("CampaignListByHome")
@*Kampanya Bitiş*@
<!-- //about -->
<!--new Arrivals -->

@await Component.InvokeAsync("NewArrivalListByHome")

<!--//about -->
<!--Customers Review -->


@await Component.InvokeAsync("ReviewListByHome")

<!--//Customers Review -->
