
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


    <div class="tab2">
        <div class="single_page">
            <div class="bootstrap-tab-text-grids">
                <div class="bootstrap-tab-text-grid">
                    <div class="bootstrap-tab-text-grid-left">
                        <img src= alt=" " class="img-fluid">
                    </div>
                    <div class="bootstrap-tab-text-grid-right">
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                        <p>
                           
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="add-review">
                    <h4>Yorum Ekle</h4>
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text"  required="">
                            </div>
                            <div class="col-md-6">
                                <input type="email"  required="">
                            </div>
                        </div>
                        <textarea name="ReviewComment" required=""></textarea>
                        <input type="submit" value="SEND">
                    </form>
                </div>
            </div>
        </div>
    </div>





